[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
yapf = "*"
celery = "==5.2.2"
pillow = "*"
locustio = "*"
coveralls = "*"
coverage = "*"
factory-boy = "*"
djangorestframework = "*"
pyjwt = "*"
pyyaml = "*"
gunicorn = "*"
pytest = "*"
whitenoise = "*"
python-memcached = "*"

[dev-packages]

[requires]
python_version = "3.7"
