[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
yapf = "*"
django-celery-email = "*"
django-celery = "*"
celery = "==4.2.1"

[dev-packages]

[requires]
python_version = "3.7"
