[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
yapf = "*"
celery = "==4.2.1"
pillow = "*"
locustio = "*"
coveralls = "*"
coverage = "*"
factory-boy = "*"
djangorestframework = "*"
pyjwt = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.7"
